*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --hue: 200;
    --blockHue: 50;
    --saturation: 50%;
    --blocks-color: hsl(var(--blockHue), var(--saturation), 40%);
    --forgroung-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
}


body {
    margin: 0;
    background-color: var(--background-color) ;
    overflow: hidden;
}

.paddle {
    --position: 50;
    --width: 10;
    position: absolute;
    bottom: 1vh;
    width:  calc(var(--width)*1vw);
    height: 1vh;
    background-color: var(--forgroung-color);
    left: calc(var(--position) * 1%);
    transform: translateX(-50%);
}

.border{
    position: absolute;
    height: 60vh;
    width: 70vw;
    border: solid 0.3vh var(--forgroung-color);
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

}

.ball{

    --x: 53;
    --y: 2;
    border-radius: 50%;
    position: absolute;
    /* background-color: var(--forgroung-color); */
    height: 2vh;
    width: 2vh;
    transform: translate(-50%, -50%);
    left: calc(var(--x)* 1%);
    bottom: calc(var(--y)* 1%);
    background-image: url("./Sprite/spr_ball_of_electricity_1.png");
    background-size: 200% 200%;
    background-position: 50% 50%;



    animation: play 0.4s steps(7) infinite;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}


/* @keyframes play {
    from { background-image: url("./Sprite/spr_ball_of_electricity_1.png");}
    to{background-image: url("./Sprite/spr_ball_of_electricity_2.png");}
} */

@keyframes play {
    0% { background-image: url("./Sprite/spr_ball_of_electricity_1.png"); }
    14.28% { background-image: url("./Sprite/spr_ball_of_electricity_2.png"); }
    28.56% { background-image: url("./Sprite/spr_ball_of_electricity_3.png"); }
    42.84% { background-image: url("./Sprite/spr_ball_of_electricity_4.png"); }
    57.12% { background-image: url("./Sprite/spr_ball_of_electricity_5.png"); }
    71.40% { background-image: url("./Sprite/spr_ball_of_electricity_6.png"); }
    85.68% { background-image: url("./Sprite/spr_ball_of_electricity_7.png"); }
    100% { background-image: url("./Sprite/spr_ball_of_electricity_1.png"); }
}


/* .score{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--forgroung-color);
    opacity: 0.6;
} */

.score{
    padding-left: 2vw;
    padding-right: 2vw;
    font-weight: bold;
    font-size: 7vh;
    color: var(--forgroung-color);
    opacity: 0.6;
}


.block{
    position: absolute;
    height: 2vh;
    width: 10vw;
    background-color: var(--blocks-color);
    border: solid 0.1vh black;
}

.ending{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
    left : 50%;
    top : 50%;
    height: 5vh;
    width: 20vw;
    transform : translate(-50%, -50%);
    color: var(--forgroung-color);
    white-space: nowrap;
}



.timer{
    position: absolute;
    top: 83vh;
    left: 50vw;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 7vh;
    color: var(--forgroung-color);

}

.popup{
    display: flex;
    position: fixed;
    font-size: 2vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40%;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    background-color: var(--forgroung-color);
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.498);
    
}

.pause{
   display: none; 
   flex-direction: column;
}

.restart{
    display: none; 
    flex-direction: column;
 }

 .win{
    display: none; 
    flex-direction: column;
 }

.button{
    /* background-color: var(--background-color); */
    height: 40%;
    width: 40%;


    background-color: hsl(200, 65%, 33%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2vh;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.button:hover,
.button:focus {
  background-color:  hsl(200, 82%, 47%);;
}
