*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --hue: 200;
    --blockHue: 50;
    --saturation: 50%;
    --blocks-color: hsl(var(--blockHue), var(--saturation), 40%);
    --forgroung-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
}


body {
    margin: 0;
    background-color: var(--background-color) ;
    overflow: hidden;
}

.paddle {
    --position: 50;
    --width: 10;
    position: absolute;
    bottom: 1vh;
    width:  calc(var(--width)*1vw);
    height: 1vh;
    background-color: var(--forgroung-color);
    left: calc(var(--position) * 1%);
    transform: translateX(-50%);
}

.border{
    position: absolute;
    height: 60vh;
    width: 70vw;
    border: solid 0.3vh var(--forgroung-color);
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.ball{

    --x: 53;
    --y: 2;
    border-radius: 50%;
    position: absolute;
    background-color: var(--forgroung-color);
    height: 2vh;
    width: 2vh;
    transform: translate(-50%, -50%);
    left: calc(var(--x)* 1%);
    bottom: calc(var(--y)* 1%);
}

.score{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--forgroung-color);
    opacity: 0.6;
}

.block{
    position: absolute;
    height: 2vh;
    width: 10vw;
    background-color: var(--blocks-color);
    border: solid 0.1vh black;
}

.winner{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    left : 50%;
    top : 50%;
    height: 5vh;
    width: 20vw;
    transform : translate(-50%, -50%);
    color: var(--forgroung-color);
}